@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #000;
}

a {
    text-decoration: none;
    color: #ecfef8;
}

li { 
    list-style: none;
}

header {
    background-color:#061d1a;
    width: 100%;
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 400;
    padding: 0.5em 1.5em;
    z-index: 10;
    box-shadow: 0 0.2em 0.5em #061d1a71;
}

.title {
    color: #ecfef8;
    position: absolute;
    text-transform: capitalize;
    margin: 0.7em 1em 0.5em 2.7em;
    font-size: 20px;
}

#nav-bar { 
    align-self: center; 
}

.nav-link {
    display: flex;
    flex-flow: row wrap;
}

.nav-link li { 
    padding: 0 1em;
}

@media all and (max-width: 62em) { 
    .nav-link { 
        justify-content: space-evenly; 
    } 
}

#header-img {
    width: 2.5em;
    margin-right: 7em;
    align-items: center;
}


#home {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    background: #061d1a;
    z-index: 1;
}

.home_text {
    background-color: #00FF5F49;
    color: #ecfef8;
    text-align: left;
    width: 55%;
    margin: 1em 3em;
    padding: 0.4em 1.6em 0 3em;
}

.home_text h1 {
    font-family: 'Caveat', cursive;
    font-size: 72px;
    z-index: 1;
    padding-bottom: 0.25em;
}

.home_text p {
    z-index: 1;
    margin-bottom: 2.2em;
    line-height: 1.5;
}

.home_text img {
    display: flex;
    position: absolute;
    right: 0.3em;
    bottom: 0;
    z-index: -1;
}

.home_btn {
    background-color: #aa5d27;
    padding: 0.625em;
    border-radius: 4px;
    text-transform: capitalize;
}

@media all and (max-width: 62em) { 
    .home_text {
        width: 75%;
        margin: 1em 2em;
        padding: 0.4em 1.6em 0 2em;
    }
    .home_text h1{
        font-size: 62px;
        line-height: 1;
    }
}
@media all and (max-width: 32em) { 
    .home_text {
        width: 90%;
        margin: 5em 1em 1em 1em;
        padding: 0.4em 1.6em 0 1.6em;
    }
    .home_text h1 {
        font-size: 52px;
    }
}
.container {
    width: 100%;
    position: relative;
    
}

.succulent_care {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 6em 3em;
    background-color:#ecfef8;
}

.icon img {
    width: 3em;
    display: flex;
    position: absolute;
}
.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4em;
    margin-top: 0.4em;
}

@media all and (max-width: 62em) { 
    .succulent_care {
        display: inline-flex;
        flex-wrap: wrap;
    }
    .column {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        margin-bottom: 2em;
        padding-right: 1em;
    }
}

/* Video section*/

.video {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    background: url('https://scontent.fdac31-1.fna.fbcdn.net/v/t1.0-9/121658066_395425081861362_7689599272338412777_o.jpg?_nc_cat=101&ccb=2&_nc_sid=110474&_nc_ohc=8rBfLfOQWuEAX8YFtml&_nc_ht=scontent.fdac31-1.fna&oh=991c9660085215ff29300bf5708d644c&oe=5FF383BE') center center no-repeat;

}
.play_btn {
    
    display: flex;
    z-index: 1;
    margin: 20% auto;
    justify-content: center;
}
.play_btn img {
    width: 100px;
}
.play_btn > img:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

@media all and (max-width: 62em) { 
    .play_btn img{
        width: 75px;
    }
}

/* product section */ 
#product_section h2 {
    display: flex;
    position: relative;
    font-family: 'Caveat', cursive;
    font-size: 60px;
    text-align: center;
    padding-top: 2em;
    justify-content: center;
    background-color: #fafafa;
}

#products {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    width: 100%;
    background-color: #fafafa;
    padding: 5em 3em 10em 3em;
    gap: 2em;
}

.product {
    width: 22%;
    border: 1px solid #ecfef8;
    border-radius: 5px;
    text-align: center;
    background-color: #ecfef8;
    box-shadow: 0 0.2em 0.5em #061d1a71;
}

.product img {
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    padding-bottom: 0.8em;
}

.plants {
    font-size: 20px;
    font-weight: 500;
    margin: 1em 0;
}
.product h3 {
    margin: 1.1em 0 0.8em 0;
    font-weight: 500;
    font-size: 20px;
}
.product p {
    margin: 0.5em 1em;
}
.btn {
    width: 40%;
    height: 2.5em;
    background-color: #00919bd0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 1em;
    border-color: #00919b91;
    color: #ffffff;
}
@media all and (max-width: 62em) { 
    #products {
        flex-wrap: wrap;
        padding: 3em 1em 8em 1em;
    }
    .product {
        width: 40%;
    }
}

@media all and (max-width: 32em) {
    .product {
        width: 70%;
    }
}


#contact_us {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #e0edeb;
    padding-top: 5%;
    padding-bottom: 20%;
    background-image: url('https://scontent.fdac31-1.fna.fbcdn.net/v/t1.0-9/119562240_371987264205144_6690040652923778119_o.jpg?_nc_cat=102&ccb=2&_nc_sid=110474&_nc_ohc=Kjf5KXAgk1wAX9cN17T&_nc_ht=scontent.fdac31-1.fna&oh=6ce45158bd12e6297a85263a90bc1a7f&oe=5FF1C2E2');
}

#contact_us h2 {
    font-family: 'Caveat', cursive;
    color: #fafafa;
    font-size: 60px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    text-shadow: 0.06em 0.06em 0.12em #061d1a71;
}

.contact_form {
    width: 60%;
    height: 75%;
    background-color: transparent;
    border-radius: 7px;
    padding: 3em 1.5em 2em 1.5em;
    margin: 0 auto;
    box-shadow: 0.1em 0.1em 2em #fab76a;
}

@media all and (max-width: 62em) {
    #contact_us {
        padding-bottom: 25%;
    }
    .contact_form {
        width: 80%;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

input,textarea {
    padding: 0.8em;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}
input {
    width: 40%;
    margin-bottom: 2em;
}

textarea {
    width: 86.7%;
    height: 30vh;
    resize: vertical;
    max-height: 300px;
    margin: 0 6.625%;
}

#submit {
    margin-top: 2em;
    margin-left: 58.3%;
    width: 35%;
    background-color: #aa5d27;
    color: #fafafa;
    border: none;
    box-shadow: 0 0.1em 0.3em #061d1a71;
}
@media all and (max-width: 62em) { 
    .row {
        flex-direction: column;
        margin-top: 1em;
    }
    input {
        width: 86.7%;
        margin: 0 6.625% 4% 6.625%;
    }
}
footer {
    width: 100%;
    display: flex;
    position: relative;
    margin-top: auto;
    padding: 0.5em 1em;
    background-color: #061d1a;
    text-align: left;
    justify-content: space-between;
}

footer li {
    color: #ecfef8;
    display: inline-block;
    padding: 1em 0.5em;
}
span {
    color: #ecfef8;
    padding: 1em 0.2em 1em 0.5em;
}